.container-fluid {
    background-color: silver;
}

.container {
    background-color: white;
    margin-bottom: 15px;
    padding: 35px;
}

.containerWelcome {
    background-color: azure;
}

.card {
    justify-items: center;
    text-align: center;
}

.card-footer {
    margin-top: 25px;
}

.navbar {
    justify-content: center;
    margin-bottom: 25px;
}

.navbar-collapse {
    justify-content: right;
    text-align: right;
}